body {
    font-family: sans-serif;
    background-color: rgb(179, 176, 176);
}


ul {
    display: flex;
    overflow: hidden;
    list-style-type: none;
    border: 3px solid rgb(199, 223, 223);
    background-color: rgb(199, 223, 223);
    text-align: right;
    padding: 1% 1% 1% 2%;
    font-size: 25px;
}

#welcome-section {
    border: 1px solid grey;
    height: 100vh;
    font-size: 50px;
    text-align: center;
}

img {
    width: 40%;
}



@media (max-width: 800px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 50%;
    }
}

@media (max-width: 500px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 40%;
    }
}

@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 30%;
    }
}

@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 20%;
    }
}
