* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    background-color: rgb(179, 176, 176);
    line-height: 1.6;
}

li a {
    display: block;
    padding: 20px;
}

#navbar ul {
    display: flex;
    margin-right: 4rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(197, 218, 218);
    font-size: 25px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#hey {
    color: yellowgreen;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    height: 100vh;
    font-size: 40px;
    background-image: linear-gradient(62deg, #6189b1 0%, #5b4d69 100%);
}


#welcome-section > p {
    font-style: italic;
}

img {
    width: 40%;
}






@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}

