body {
    font-family: sans-serif;
    background-color: rgb(179, 176, 176);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(199, 223, 223);
    background-color: rgb(199, 223, 223);
    padding-left: 70%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    font-size: 20px;
}

#viewport {
    background-color: rgb(179, 176, 176);
}

#welcome-section {
    border: 1px solid grey;
    height: 100vh;
    font-size: 50px;
    text-align: center;
}

img {
    width: 40%;
}



@media (max-width: 800px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 50%;
    }
}

@media (max-width: 500px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 40%;
    }
}

@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 30%;
    }
}

@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 20%;
    }
}
