body {
    margin: 0;
    /* overflow: hidden; */
}

#contain {   /* nav container */
    margin-top: 15%;
    /* border: 3px solid yellow; */
}

i {
    color: whitesmoke;
    font-size: 30px;
    
}

i {
    filter: drop-shadow(0px 5px 5px blueviolet);
}

h1 {
    font-family: 'Games', sans-serif;
}

#icon > h1 {      /* direct child */
    margin: auto;
}

.navig > * {
    margin: auto;
}

#logout {
    /* margin-top: 100%; */
    /* border: 3px solid green; */
}

#nav {
    background: rgb(46,61,128);
    background: linear-gradient(99deg, rgba(46,61,128,1) 0%, rgba(41,13,68,1) 50%, rgba(46,61,128,1) 100%);
    color: whitesmoke !important; /* highest priority */
    /* box-shadow: 0px 0px 20px yellow; */
}

#nav, #main {
    /* border: 3px solid orangered; */
    height: 100vh;
    color: rgb(75, 55, 48);
}

#icon {
    /* text-align: center; */
    margin: auto;
    height: 130px;
    width: 200px;
    /* border: 2px solid green; */
}

.navig {
    margin: auto;
    /* text-align: center; */
    height: 70px;
    width: 200px;
    /* border: 2px solid green; */
}

#design {
    height: 70%;
    /* border: 3px solid rgb(158, 109, 158); */
}

#main {
    background-color: rgb(55, 38, 71);
}

#main-img {
    width: 900px;
    height: auto;
    padding-top: 5%;
    /* border: 2px solid red; */
    /* min-width: 100%;
    min-height: 100%; */
}

#ping-pong {
    margin-top: 5%;
    /* border: 4px solid rgb(0, 247, 255); */
    /* background-color: aquamarine; */
    /* width: 33%; */
    height: 60%;
    width: 15%;
    margin-left: 0;
}

#XO {
    margin-top: 5%;
    /* width: 60%; */
    /* border: 4px solid rgb(0, 255, 0); */
    margin-left: 0;
    height: 60%;
    width: 15%;
}

#more {
    /* background-color: blanchedalmond; */
    color: whitesmoke;
    margin-top: 5%;
    /* width: 60%; */
    /* border: 4px solid rgb(0, 255, 0); */
    margin-left: 0;
    height: 60%;
    width: 30%;
    /* font-size: small; */
}

#img1, #img2 {
    height: 100%;
    width: 100%;
    /* border: 3px solid red; */
}

#games {
    height: 30%;
    /* border: 3px solid rgb(71, 4, 71); */
}

#description {
    color: whitesmoke;
    font-family: 'Games', sans-serif;
    margin-top: 8%;
}

#main-header {
    font-size: 50px;
}

p {
    font-family: sans-serif;
}

span {
    color: blueviolet;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover h3, a:hover h3 i {
    color: blue; /* Change the color on hover */
}



