h1 {
    text-align: center;
}

.icon {
    color: yellowgreen;
    font-size: 50px;
}

body {
    /* background-color: rgb(31, 34, 43); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(179,0,255,1) 100%);

    color: black;
    font-family: sans-serif;
  
}

button {
    background-color: red;
}

#one {
    /* margin: auto; */
    box-shadow: 0px 0px 20px black;
    padding: 60px;
    background-color: rgb(224, 218, 218);
}

#two {
    box-shadow: 0px 0px 20px black;
    padding: 40px;
    /* overflow: hidden; */
}

#parent {
    /* width: 80%; */
    /* height: 80%; */
    margin: 5% auto 0px auto;
}

#no-account {
    text-align: center;
}
