h1 {
    text-align: center;
}

.icon {
    color: rgb(162, 129, 184);
    font-size: 50px;
}

#un, #psw, #uname, #email {
    color: white;
    background-color: rgb(35, 21, 70);
    border: none;
}

::placeholder {
    color: whitesmoke !important;
}

.input-group-left {
    background-color: rgb(51, 30, 100);
    color: whitesmoke;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 30%, rgba(119,0,255,1) 50%, rgba(29,0,39,1) 70%, rgba(9,9,121,1) 100%);
    /* background-image: url("Untitled.png");
    background-size: cover; */
    color: white;
    font-family: sans-serif;
}

.login {
    background: #0197d0 !important;
}

.intra {
    background-color: grey;
}

.login:hover, .intra:hover {
    color: white;
}

.login:hover {
    background: #0197d0;
    box-shadow: 0px 0px 10px #0197d0;
}

a {
    color: aqua;
}

#one {
    box-shadow: 0px 0px 20px black;
    padding: 60px;
}

#two {
    box-shadow: 0px 0px 20px rgb(39, 37, 37);
    padding: 40px;
}

#parent {
    /* margin: 5% auto 0px auto; */
    padding: 10%;
}

#no-account {
    text-align: center;
}

#three {
    display: none;
    box-shadow: 0px 0px 20px rgb(39, 37, 37);
    padding: 40px;
}

#hand {
    /* 67 42 */
    transform: rotate(42deg);  
    animation: fr 1s infinite;
}
@keyframes fr {
    0%{
        transform: rotate(42deg);  
    }
    50%{
        transform: rotate(67deg);  

    }
    100%{
        transform: rotate(42deg);  

    }   
}

@media (max-width: 768px) {
    /* Your CSS styles for phones */
    #two {
        display: none; /* Example adjustment for readability on tablets */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Your CSS styles for tablets */
    #two {
      display: none; /* Example adjustment for readability on tablets */
    }
}