#ul {
    font-size: larger;
}

#navbar {
    border: 2px solid grey;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 1%;
    background-color: rgb(211, 211, 211);
}

#main-doc {
    border: 2px solid grey;
    padding-left: 2%;
    padding-right: 1%;
    margin-left: 2%;
    background-color: rgb(231, 231, 231);
    font-size: large;
}

body {
    display: flex;
    background-color: rgb(233, 233, 233);
}

code {
    background-color: grey;
    display: block;
    padding: 1%;
}

code:hover {
    background-color: rgb(179, 185, 179);
}

@media all and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: rgb(233, 233, 233);
    
    }
    #navbar {
        border: 2px solid grey;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 2%;
    }
}