#ul {
    list-style-type: none;
}

#navbar {
    border: 2px solid grey;
    padding-left: 2%;
    padding-right: 2%;
}

#main-doc {
    border: 2px solid grey;
    padding-left: 2%;
    margin-left: 2%;
}

body {
    display: flex;
}