* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(248, 233, 233);
}

table {
    border: 3px solid black;
    padding: 2%;
    font-size: larger;
    background: linear-gradient(rgb(174, 252, 174), rgb(255, 255, 213));
    border-radius: 10px;
    width: 100vw;
}

td {
    border: 3px rgb(107, 11, 107) solid;
    text-align: center;
    margin: 1% 10%;
    font-size: 50px;
    width: 300px;
    height: 100px;
}

th {
    border: 5px rgb(107, 11, 107) solid;
    margin: 1% 10%;
    font-size: 50px;
    width: 300px;
    height: 100px;
    color: darkred;
    background: grey;
}

caption {
    font-size: 40px;
    background: lightgreen;
    color: darkmagenta;
}

.red {
    color: red;
}

.noob {
    color: lightskyblue;
}

 @media (max-width: 500px) {
    table {
        padding: 1%;
        font-size: 15px;
        border-radius: 10px;
        width: 100vw;
    }

    td {
        font-size: 20px;
        height: 60px;
    }
 }