* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
}

table {
    border: 3px solid black;
    padding: 2%;
    font-size: larger;
    background: linear-gradient(lightgreen, rgb(255, 255, 213));
    border-radius: 10px;
    width: 100vw;
}

td {
    border: 5px rgb(107, 11, 107) solid;
    text-align: center;
    margin: 1% 10%;
    font-size: 50px;
    width: 300px;
    height: 100px;
}

caption {
    font-size: 40px;
    background: lightgreen;
    color: darkmagenta;
}

thead {
    color: darkred;
}
 .red {
     color: red;
 }

 .noob {
    color: lightskyblue;
 }